.DS_Store
/.htaccess
/code/plugins/akismet
/code/plugins/hello.php
/code/plugins/index.php
/code/tests/shots
/code/themes/**/*.css.map
/code/themes/**/*.js.map
/code/themes/index.php
/code/themes/twenty*
/index.php
/license.txt
/local-config.php
/npm-debug.log
/readme.html
/wp-*.php
/wp-admin
/wp-includes
/xmlrpc.php
data/db/.db
data/nginx/log
data/uploads
data/wordpress*
data/certs
node_modules
