/*
data/mysql/.db
data/nginx/log
data/wordpress
data/certs
!.gitignore
!.gitmodules
!.dockerignore
!.editorconfig
!.gitlab-ci.yml
!logo.png
!changelog.md
!LICENSE
!deploy.sh
!docker-compose.yml
!Dockerfile
!package.json
!postcss.config.js
!README.md
!test.docker-compose.yml
!tsconfig.json
!webpack.config.js
!wp-content
wp-content/*
!tests
!wp-content/plugins
!wp-content/themes
wp-content/plugins/hello.php
wp-content/plugins/akismet
wp-content/themes/twenty*
wp-content/themes/index.php
!data/
*.DS_Store
!kubernetes
